$white: #FFFFFF;
$black: #000000;
$shadow:0px 0px 10px $white;
section{
  margin: 0;
  height: auto;
}
body {
  font-family: 'Marcellus', serif;
}

.homebanner{
  .bannerimg{
    .bannerlink{
      font-family: 'Russo One', sans-serif;
     
    }
  }
}
.title-font{
  font-family: 'Russo One', sans-serif;
}
.defalut-font{
  font-family: 'Marcellus', serif;
}
h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }

  @media screen and (min-width: 992px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 44px;
  }
}
// h3 , h4 , h5{
//   font-family: 'Russo One', sans-serif;
  
// }

.overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, .3) 100%);
  
}
.upper {
  text-transform: uppercase;
}

.active{
  color: #ffffff!important;
  text-shadow: $shadow;
  font-weight: 600;
}

.title{
  color:$white!important;
  text-shadow: 0px 0px 15px rgba(255,255,255,0.98);
  font-size: 22px;
  @media screen and (min-width: 425px){
    font-size: 26px;
  }
  @media screen and (min-width: 992px){
    font-size: 30px;
  }
}
.button{
  background-image: linear-gradient(#FFFFFF, #FFCC00);
  font-weight: 600;
  border-radius: 29px;
  border: none;
  width: 120px;
  font-size: 14px;
}