.deposit-form-note{
  padding-top:20px!important;
  @media screen and (min-width:768px){
    padding-top: 50px!important;
  }
  p,span{
    color: #FFFFFF;
  }
}
.numer-tst{
  margin-top: 50px;
  color: #FFF;
  .number{
    width: 15px;
    height: 15px;
    background: #333333;
    position: relative;
    padding: 12px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.75)!important;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
  }
  p{
    margin-left: 10px;
  }
}
.deposit-form{
  padding-top:20px!important;
  @media screen and (min-width:768px){
    padding-top: 50px!important;
  }
  .enquiry-form-wrapper{
    .form-wrap{
      .form-group{
        .datetime-calendar{
          background-image: url(../assets/images/icons/calendar.svg);
          /* width: 10px; */
          background-size: 17px;
          background-repeat: no-repeat;
          background-position: 96% 50%;
          @media screen and (min-width:768px){
            background-position: 98% 50%;
          }
          
        }
      }

    } 
  }
  
  
}
.custom-select{
  color: #FFFFFF;
  option{
    color: #333333;
  }
}
.payment-check {
  // overflow: hidden;
  @media screen and (min-width:768px){
    padding-top: 50px;
  }
  .payment-type{
    margin-top:20px;
    @media screen and (min-width:768px){
      margin-top:0px;
    }
  }
  
  .deposit-card{
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    display: flex;
    // overflow-x: scroll;
    margin-bottom: 30px;
    @media screen and (min-width:768px){
      overflow: hidden;
    }
    &.active{
      background: #ffffff59 0% 0% no-repeat padding-box;
      opacity: 1;
    }
    .round{
      position: relative;
      width: 38px;
      padding: 42px;
      label,a {
        background-color: #fff;
        border: 1px solid #333333;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 28px;
        // &:after{
        //   left: 0px;
        //   position: absolute;
        //   top: 0px;
        //   background: url(../../assets/images/icons/verified.svg);
        //   content: "";
        //   width: 26px;
        //   height: 49px;
        //   background-repeat: no-repeat;
          
        // }
      }
      // input {
      //   visibility: hidden;
      //   &:checked + label {
      //     background-color: #333333;
      //     border-color: #333333;
      //     &:after{
      //       opacity: 1;
      //     }
      //   }
      // }
    }
    .acc-number,.acc-name{
      color: #FFFFFF;
      align-items: center;
      display: flex;
      padding: 0px 28px;
      
      p{
        margin-bottom: 0px;
        text-align: center;
      }
    }
    .acc-name{
      width: 100%;
      @media screen and (min-width:992px){
        width: 50%;
      }
      
    }
    .acc-number{
      width: 100%;
      @media screen and (min-width:992px){
        width: 50%;
      }
    }
  }
}

.deposit-type{
  
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 30px;
  @media screen and (min-width: 992px){
    padding-top: 50px;
    padding-bottom: 70px;
  }
  h2{
    padding-top: 20px;
  }
  h5{
    font-size: 18px;
    // padding-bottom: 20px;
    // padding-top: 20px;
  }
  .product-type{
    margin-top: 30px;
    .product-list{
      margin-bottom: 30px;
      @media screen and (min-width:768px){
        margin-bottom: 0px;
      }
      .product-img{
        width: 100%;
        position:relative;
        border:none;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        img{
          border-radius: 5px;
          border: 1px solid #D9D9D9;
          background: #FFFFFF;
          border: none;
        }
        .checked-icn{
          
          position: absolute;
          top: -10px;
          right: -7px;
  
          img{
            width: 28px;
            border-radius: 26px;
            border: 1px solid #D9D9D9;
            background: #FFFFFF;
            border: none;
  
          }
        }
      }
    
    }
  }
    

  
  
}
.active-a{
  
  .product-img{
    box-shadow: 0px 0px 10px rgba(255,255,255,0.75)!important;
  }
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    
}

input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
//----------------- choose payment type 

/* IMAGE STYLES */
[type=radio] + .deposit-card {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .deposit-card {

      label,a{
        &:after{
          left: 0px;
          position: absolute;
          top: 0px;
          background: url(../assets/images/icons/verified.svg);
          content: "";
          width: 26px;
          height: 49px;
          background-repeat: no-repeat;
          
        }
      }
}
.bank-option{
  label,a{
    width: 100%;
  }
  .deposit-card{
    .round{
      width: 10%;
      padding: 42px 23px;
      @media screen and (min-width:768px){
        width: 80px;
      }
    }
    img{
      width: 23%;
      @media screen and (min-width:768px){
        width: auto;
      }
    }
    .card-mb{
      width: 68%;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (min-width:992px){
        flex-direction: row;
        width: 100%;
      }
    }
  }
}

// -------------------game type casino
[type=radio] + .game-type-caisno {
  cursor: pointer;
}

[type=radio]:checked + .game-type-caisno {

  label,a{
    
    &:after{
      position: absolute;
      top: 14px;
      right: 3px;
      background: url(../assets/images/icons/verified.svg);
      background-color: #FFFFFF;
      content: "";
      width: 26px;
      height: 26px;
      background-repeat: no-repeat;
      border-radius: 25px;
      border: 1px solid #333333;
      z-index: 9;
      
    }
  }
  .product-list{
    box-shadow: 0px 0px 10px rgba(255,255,255,0.75)!important;  
  }
}
