.enquiry{
  padding-bottom: 50px;
  @media screen and (min-width: 992px){
    padding-bottom: 70px!important;
  }
  .enquiry-form-wrapper{
    color:$white;
    background: rgba(255,255,255,0.15);
    .form-title{
      .title{
        text-align: center;
        padding-top:30px;
      }
    }
    .form-wrap{
      padding: 20px;
      .form-group{
        label{
          font-size: 14px;
          @media screen and (min-width: 425px){
            font-size: 16px;
          }
          @media screen and (min-width: 1024px){
            font-size: 18px;
          }
        }
        input,textarea,button{
          color:$white;
          background: none;
          border: 1px solid #898989;
          &:focus{
            box-shadow: 0px 0px 10px rgba(255,255,255,0.75)!important;
          }
        }
        .submitbtn{
          border:0px solid rgba(125,125,125,0);
          padding: 5px 50px;
          // background: rgba(255,255,255,0.31);
          background: #898989;
          border-radius: 0px;
        }
      }
    }
  }
}