.footer{
  background-color: $black;
  .copy-right-txt{
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    @media screen and (min-width: 375px) {
      font-size: 15px;
    }
    @media screen and (min-width: 425px) {
      font-size: 18px;
    }
  }
}