.gamedetail{
  padding-top: 100px;
  @media screen and (min-width: 992px){
    padding-top: 100px;
  }

  .detail-wrap{
    color:$white;
    padding-top: 30px;
    .detailtitle{
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .button-section{
    @media screen and (min-width:768px){
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
    
    .register-btn{
      text-align: center;
      margin-top: 20px;
      @media screen and (min-width:768px){
        text-align: initial;
        margin-top: 0px;
      }
      .bannerlink{
        color: $black;
        padding: 5px 15px;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFCC00 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.63);
        border-radius: 23px;
        font-size: 13px;
        transition: all ease-in-out .3s;
        &:hover{
          box-shadow: 0px 0px 15px rgba(255,255,255,0.75)!important;
          transition: all ease-in-out .3s;
        }
        @media screen and (min-width: 992px) {
          padding: 10px 25px;
          font-size: 20px;
        }
      }
    }
    
  }

  .detail-iconlink{
    text-align: center;
    @media screen and (min-width:768px){
      text-align: left;
    }
    .link{
      padding-right: 10px;
      @media screen and (min-width: 425px){
        padding-right: 25px;
      }
      .appicon{
        width: 100px;
        @media screen and (min-width: 375px){
          width: 110px;
        }
        @media screen and (min-width: 768px){
          width: 150px;
        }
      }
    }
    
  }
}