.gamelisting{
  padding-top: 100px;
  padding-bottom: 30px;
  @media screen and (min-width: 992px){
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .category-title{
    background: #ffffff3b;
    color: #FFFFFF;
    margin-bottom: 30px;
    h2{
      padding: 3px 20px;
    }
  }
  .card
  {
    border:none;
    background: none;
    margin-bottom: 50px;
    a{
      text-decoration: none;
    }
    .img-wrapper
    {
      height: auto;
      @media screen and (min-width: 768px){
        height: 250px;
        overflow: hidden;
      }
    }
    .card-body{
      padding: 0;
      padding-top: 20px;
      padding-left: 5px;
      text-align: center;
      p{
        color: #D9D9D9;
        margin-bottom: 20px;
      }
      // .card-text{
      //   color: #D9D9D9;
      //   margin-bottom: 20px;
      // }
      .link{
        display: flex;
        justify-content: center;
        .gamelink{
          background: rgba(255, 255, 255, 0.45);
          border-radius: 50%;
          margin-left: 10px;
          position: relative;
          width: 45px;
          height: 45px;
          display: block;
          transition: all ease-in-out .5s;
          &:hover{
            box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.98);
            transition: all ease-in-out .5s;
          }
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      
    }
  }
}