.header{
  position: relative;
  .otherbanner{
    display: none;
    @media screen and (min-width: 992px)
    {
      display: block;
    }
  }
  
  .nav-wrap{
    
    

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    .navbar{
      align-items: initial;
      @media screen and (min-width:768px){
        padding-bottom: 0px;
      }
      
      .sitetitle{
        color: $white;
        font-size: 12px;
        @media screen and (min-width: 375px){
          font-size: 15px;
        }
        @media screen and (min-width: 425px){
          font-size: 18px;
        }
        @media screen and (min-width: 768px){
          font-size: 20px;
        }
        @media screen and (min-width: 1024px){
          font-size: 24px;
        }
        &:hover {
          text-shadow: $shadow;
        }
      }
      .navbar-toggler{
        border:0;
        .icon_bar{
          width: 30px;
          height: 2px;
          background: $white;
          display: block;
          margin-bottom: 5px;
         
        }
        &:not(.collapsed) {
          overflow: hidden;
          
          span:nth-child(2){
            transform: translateX(-150%);
          }
          span:nth-child(1){
            transition: all 0.3s ease-in-out;
            transform: rotate(45deg) translate(10px);
          }
          span:nth-child(3){
            transition: all 0.3s ease-in-out;
            transform: rotate(-45deg) translate(10px);
          }
        }
        &:focus{
          outline: none;
        }
      }
      .navbar-collapse{
        justify-content: flex-end;

        .navbar-nav{
          li{
            @media screen and (min-width: 992px){
              margin-left: 8px;
            }
            @media screen and (min-width:1200px){
              margin-left: 20px;
            }
            
            a{
              color: $white;
              font-size: 12px;
              @media screen and (min-width: 375px){
                font-size: 14px;
              }
              @media screen and (min-width: 425px){
                font-size: 18px;
              }
              @media screen and (min-width: 992px){
                color: #c3c2c2;
                font-size: 14px;
              }

              &:hover {
                color: $white;
                text-shadow: $shadow;
              }
              &.login-btn{
                border: 1px solid #ffffff;
                border-radius: 7px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 0px;
                width: 30%;
                padding-bottom: 0px;
                margin-bottom: 14px;
                margin-top: 4px;
                @media screen and (min-width:768px){
                  width: 16%;
                }
                @media screen and (min-width:992px){
                  width:auto;
                  border: 1px solid #ffffff;
                  border-radius: 7px;
                  padding-left: 15px;
                  padding-right: 15px;
                  padding-top: 4px;
                  padding-bottom: 4px;
                  font-size: 14px;
                  margin-top: 3px;
                }
                
              }
              
            }

            &.drp{
              position: relative;
              
              .shareicon{
                display: none;
                @media screen and (min-width: 992px)
                {
                  display: block;
                  padding-top: 8px;
                  cursor: pointer;
                }
               
              }
              &:hover{
                ul{
                  opacity: 1;
                  visibility: visible;
                  margin-top: -5px;
                }
              }
              ul{
                padding-left: 0;
                @media screen and (max-width: 991px){
                  display: flex;
                }
                @media screen and (min-width: 992px){
                  width: 30px;
                  list-style-type: none;
                  opacity: 0;
                  visibility: hidden;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  margin-top:15px;
                  transition: all 0.3s ease-in-out;
                }
              
                li{
                  margin-left: 1px!important;
                  &.socialicon{
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    @media screen and (max-width: 991px){
                      padding-right: 10px;
                    }
                    .iconlink{
                      padding-bottom: 10px;
                      .icontip{
                        width: 25px;
                        color: $white;
                        
                      }
                    }
                    
                  }
                }
              }
              
            }
            &.active-btn{
              a{
                background: #ffffffe8;
                color: #333333; 
              }
               
              
            }
          }
        }
      }
    }
  }
  .sticky{
    position: fixed;
    top: 0;
    background: #212529d6;
    @media screen and (max-width:991px){
      background:#333333!important;
    }
    
   
  }
  .blue{
    position:fixed;
    top:0;
    background:#333333;
    width:100%;
    height:50px;
  }
  
  
}
