.homebanner{

  .bannerimg{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    .bannertext{
      width: 100%;
      height: 100vh;
      text-align: center;

      .bannertitle{
        color:$white;
        font-size: 16px;
        text-align: left;
        margin-top: 30px;
        @media screen and (min-width: 768px) {
          font-size: 20px;
        }
        @media screen and (min-width: 992px) {
          font-size: 24px;
        }
        a{
          color:#FFFFFF;
          text-decoration: none;
        }
      }

      .bannertext-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
          color:$white;
          text-shadow: 0px 0px 15px $black;
          margin-bottom: 40px;

        }
        .bannerlink{
          color: $black;
          padding: 5px 15px;
          background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFCC00 100%) 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.63);
          border-radius: 23px;
          font-size: 13px;
          transition: all ease-in-out .3s;
          &:hover{
            box-shadow: 0px 0px 10px rgba(255,255,255,0.75)!important;
            transition: all ease-in-out .3s;
          }
          @media screen and (min-width: 992px) {
            padding: 10px 25px;
            font-size: 20px;
          }
        }
      }
      
    }
  }
}