.modal {
  .cu-modal {
    position: relative;
    @media screen and (min-width: 320px)
    {
      max-width: 300px !important;
      margin: 1.75rem auto;
    }
    @media screen and (min-width: 420px)
    {
      max-width: 500px !important;
    }
    @media screen and (min-width: 1024px)
    {
      max-width: 800px !important;
    }
    .modal-content {
      border-radius: .1rem;
      border:0;
      .modal-body {
        padding: 0;
        .popup-data{
          .popup-text{
            padding: 20px;
            p{
              margin-bottom: 0;
            }
          }
        }
      }
    }

    
  }

  &.fade {
    background: rgba($black, .8);
    z-index: 9999;
  }

  .close {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 32px;
    height: auto;
    z-index: 1;
    padding: 20px;
    background: $black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.75);
    opacity: 1;
    transition:  all 0.3s ease-in-out;

    &:focus,
    &:active,
    &:visited {
      outline: 0;
    }

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      top: 7px;
      right: 18px;
      height: 23px;
      width: 2px;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover{
      opacity: 1!important;
    }
  }
}