.promotion{
  padding-top: 100px;
  padding-bottom: 0px;
  .promotion-cart{
    box-shadow: 0px 0px 40px #FFFFFF80;
    margin-bottom: 100px;
    .promotion-img{
      position: relative;
      
      .overlay-text{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #33333329;
        top: 0px;
        color: #FFFFFF;
        
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 6%;
        h5{
          font-size: 16px;
          
          @media screen and (min-width:768px){
            font-size: 36px;
            
          }
          @media screen and (min-width:1200px){
            
            margin-bottom: 30px;
          }
          
        }
      }
    }
    .promotion-desc {
      background: #333333;
      color: #FFFFFF;
      display: flex;
      justify-content: space-between;
      padding: 10px 24px;
      align-items: center;
      p{

        font-size:14px;
        margin-top: 8px;
        @media screen and (min-width:768px){
          font-size: 24px;
        }
      }
    }
  }
}


