.profile-wrap{
  padding-top: 100px;
  padding-bottom:70px;
  h5{
    color: #ffffff;
    font-size: 30px;
  }
  .profile-info{
    margin-top: 50px;
    .info-col{
      display: flex;
      justify-content: center;
      p{
        color: #ffffff;
        width: 100%;
        @media screen and (min-width:992px){
          width: 25%;
        }
        
      }
      .information{
        text-shadow: 0px 0px 15px rgba(255,255,255,0.98);
      }
    }
  }
}