.enquiry{
  padding-bottom: 20px;
  &.login-section{
    padding-bottom: 20px!important;
  }
  .register{
    margin-top: 100px;
    .form-title{
      h5.title{
        text-shadow: none!important;
      }
    }
    
    p{
      text-align: center;
      color: #898989;
      font-weight: 600;
    }
    .submitbtn{
      &form-button{ 
        background: #898989!important;
      }
      
    }
  }
}

.sign-in {
  padding-bottom: 70px;
  p{
    color:#898989;
    text-align: center;
  }
  a{
    color:#FFFFFF;
    
  }
}

.withdraw{
  padding-top:100px;
  padding-bottom:40px;
  h5{
    padding-bottom: 40px;
  }
  .select-game{
    position: relative;
    
    .custom-select{
      background-image: url(../assets/images/icons/download.svg);
      background-size: 17px;
      background-repeat: no-repeat;
      background-position: 96% 50%;
      @media screen and (min-width:768px){
        background-position: 98% 50%;
      }
    }
  }
    select{
      background: transparent;
      border: 1px solid #898989;
      
      
    }
    
  }
