footer.footer
  .container
    .row
      .col-12
        p.copy-right-txt Copyright © 2020 Game. All Rights Reserved.
script(src="./plugin/plugin.min.js")
script(src="./js/script.js")
script(src='https://www.google.com/recaptcha/api.js', async='', defer='')
