head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Game Source
    link(rel="stylesheet", href="./plugin/plugin.min.css")
    link(rel="stylesheet", href="./style/style.css") 
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">