header.header
  .nav-wrap.sticky
    .container
      .row
        .col-12
          nav.navbar.navbar-expand-lg.navbar-light
            a.upper.navbar-brand.sitetitle(href='index.html') www.europagamaing.com
            button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
              span.icon_bar
              span.icon_bar
              span.icon_bar
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link.active(href='index.html')
                    | Home 
                li.nav-item
                  a.nav-link(href='gamelisting.html') Game
                li.nav-item
                  a.nav-link(href='promotion.html') Promotion
                li.nav-item
                  a.nav-link(href='deposit.html') Deposit
                li.nav-item
                  a.nav-link(href='withdraw.html') Withdraw
                li.nav-item.active-btn
                  a.nav-link.login-btn(href='login.html') Login
                li.nav-item
                  a.nav-link.login-btn(href='register.html') Register  
                li.nav-item.drp
                  .shareicon
                    img.img-fluid(src="./assets/images/icons/network.svg")
                  ul
                    li.socialicon
                      a.iconlink(href="https://www.facebook.com/")
                        img.img-fluid.icontip(src="./assets/images/icons/facebook.svg")
                    li.socialicon
                      a.iconlink(href="https://www.youtube.com/")
                        img.img-fluid.icontip(src="./assets/images/icons/youtube.svg")     
  .otherbanner
    img.img-fluid(src="./assets/images/uploads/otherbanner.png")
    .overlay