<!DOCTYPE html>
html(lang="en")
  include ./head.pug
  body
    include ./header.pug
    section(style='background: url("./assets/images/icons/patternimg.png") repeat center')
      include ./components/_profile.pug
    include ./footer.pug