section.deposit-type 
  .container
    h2.defalut-font.title.text-center Submit Your Deposit Request Online
    form
      .d-flex.numer-tst
          div.number
            span 1
          p Please Select The Product You Want To Deposit:
      .product-type 
        h5.upper.defalut-font.title Casino
        .row
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
                  
      //-- sport
      .product-type 
        h5.upper.defalut-font.title sports
        .row
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
                
          
          .col-md-3
            
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="")  
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
      //--slot game
      .product-type 
        h5.upper.defalut-font.title Slot game
        .row
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
                
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="")  
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="")  
      //--fish game
      .product-type 
        h5.upper.defalut-font.title fish
        .row
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="")  
                
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="")  
      //--fish game
      .product-type 
        h5.upper.defalut-font.title Shan
        .row
          
          .col-md-3
            .bank-option
              label
                input(type="radio" name="test" value="small" checked)
                .game-type-caisno
                  .round
                    
                    label(for='checkbox2') 
                  .product-list
                    .product-img 
                      img.w-100(src="./assets/images/uploads/product.jpg", alt="") 
                
          
          
          
        

      section.payment-check 
        .container 
          .d-flex.numer-tst
              div.number
                span 2
              p Please Select The Bank You Want To Deposit.
          .payment-type
            .row 
              .col-md-12 
                .bank-option
                  label
                    input(type="radio" name="test" value="small" checked)
                    .deposit-card
                      .round
                        
                        a(for='checkbox2') 
                      img.img-fluid(src="./assets/images/uploads/card.jpg", alt="")
                      .card-mb.d-flex
                        .acc-number 
                          p 1234 5678 9101 1121
                        .acc-name
                          p Account Name  
              .col-md-12 
                .bank-option
                  label
                    input(type="radio" name="test" value="small" checked)
                    .deposit-card
                      .round
                        
                        a(for='checkbox2') 
                      img.img-fluid(src="./assets/images/uploads/card.jpg", alt="")
                      .card-mb.d-flex
                        .acc-number 
                          p 1234 5678 9101 1121
                        .acc-name
                          p Account Name 
              //- test form
              .col-md-12 
                .bank-option
                  label
                    input(type="radio" name="test" value="small" checked)
                    .deposit-card
                      .round
                        
                        a(for='checkbox2') 
                      img.img-fluid(src="./assets/images/uploads/card.jpg", alt="")
                      .card-mb.d-flex
                        .acc-number 
                          p 1234 5678 9101 1121
                        .acc-name
                          p Account Name 
              .col-md-12 
                .bank-option
                  label
                    input(type="radio" name="test" value="small" checked)
                    .deposit-card
                      .round
                        
                        a(for='checkbox2') 
                      img(src="./assets/images/uploads/card.jpg", alt="")
                      .card-mb.d-flex
                        .acc-number 
                          p 8484 8484 8484 8484
                        .acc-name
                          p Account Name  

                
              
      section.deposit-form-note
        .container 
          
            p Note:
            p Minimun Deposit MMK 10,000. 
            p We accept online transfer / ATM transfer / Cash Deposit. 
            p Please Keep the bank receipt of transaction reference number.
            .d-flex.numer-tst
              div.number
                span 3
              p Please Fill In Your Deposit Details 
      section.enquiry.withdraw.deposit-form
        .container
          
          .row
            .col-12.p-0
              .enquiry-form-wrapper
                .row
                  .col-md-8.offset-md-2
                    .form-wrap.mt-3
                      form
                        .form-group
                          label(for='formGroupExampleInput') Deposit Amount(Minimum MMK 10000)
                          input#formGroupExampleInput.form-control(type='text')
                        
                        .form-group
                          label(for='formGroupExampleInput') Deposit Date/Time
                          input#formGroupExampleInput.form-control.datetime-calendar(type='date')
                          
                        .form-group.select-game
                          label(for='formGroupExampleInput') Deposit Method
                          select.browser-default.custom-select
                            option(selected='') Deposit Method
                            option(value='1') Visa
                            option(value='2') Master
                            option(value='3') ATM
                          
                        .form-group.select-game
                          label(for='formGroupExampleInput') Bonus
                          select.browser-default.custom-select
                            option(selected='') Bonus
                            option(value='1') One
                            option(value='2') Two
                            option(value='3') Three
                          //- img(src="./assets/images/icons/download.svg", alt="")  
                        .form-group.g-recaptcha(data-sitekey='6Lc3ws4ZAAAAAKRZc5gNmYZNjzrMMNB90GtLR50I')
                        .form-group.text-center.mt-5
                          button.btn.btn-primary.submitbtn.form-button.upper(type='submit') Submit deposit request

          