section.detailimage
  .container
    .row
      - for(let i =0; i<8; i++)
        .col-lg-3.col-md-6
          .game-img-wrapper(data-toggle="modal" data-target="#exampleModal")
            img.img-fluid.game-img(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.cu-modal(role='document')
    .modal-content
      .modal-body
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
        .popup-data
          .popup-img-wrapper
            img.img-fluid(src="./assets/images/uploads/ourwork.jpg", alt="")
          .popup-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias a hic esse veniam qui architecto voluptate eaque fugiat, sit animi temporibus modi recusandae reprehenderit libero quia suscipit? Doloribus, magni itaque.