section.enquiry
  .container
    .row
      .col-md-10.offset-md-1
        .enquiry-form-wrapper
          .form-title
            h3.text-center.pt-4 Enquiry
          .row
            .col-md-8.offset-md-2
              .form-wrap
                form
                  .form-group
                    label(for='formGroupExampleInput') Name
                    input#formGroupExampleInput.form-control(type='text')
                  .form-group
                    label(for='formGroupExampleInput2') Phone
                    input#formGroupExampleInput2.form-control(type='text')
                  .form-group
                    label(for='formGroupExampleInput2') Email
                    input#formGroupExampleInput2.form-control(type='text')
                  .form-group
                    label(for='exampleFormControlTextarea1') Example textarea
                    textarea#exampleFormControlTextarea1.form-control(rows='3')
                  .form-group.g-recaptcha(data-sitekey='6Lc3ws4ZAAAAAKRZc5gNmYZNjzrMMNB90GtLR50I')
                  .form-group.text-center
                    button.btn.btn-primary.submitbtn(type='submit') Submit