section.gamelisting(style='background: url("./assets/images/icons/patternimg.png") repeat center')
  .container
    //-- casino
    .row 
      .col-12
        .category-title
          h2.defalut-font.title.upper Casino       
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game One
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Two
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Three
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
    //-- sports
    .row 
      .col-12
        .category-title
          h2.defalut-font.title.upper sports       
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game One
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Two
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Three
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
    //----slot game  
    .row 
      .col-12
        .category-title
          h2.defalut-font.title.upper slot game       
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game One
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Two
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")
      .col-lg-4.col-md-6
        .card
          a(href='gamedetail.html')
            .img-wrapper
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
            .card-body
              h4.card-title.title Game Three
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's
                | content.
              .d-flex.link
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/android.svg", alt="")
                a.gamelink(href='gamedetail.html')
                  img(src="./assets/images/icons/mac.svg", alt="")