section.gamedetail
  .container
    .row
      .col-10.offset-1
        img.img-fluid(src="./assets/images/uploads/detail.png", alt="")
      .col-10.offset-1
        .detail-wrap
          h3.detailtitle.title Game One
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quia. Rem blanditiis et distinctio minus tenetur sequi neque earum itaque laboriosam ratione. Repellendus maiores maxime fuga ipsam veniam ipsum laudantium!
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita minus officiis laudantium maxime quasi error incidunt, ratione pariatur excepturi repudiandae voluptate facilis, unde ducimus aperiam architecto iusto, id accusantium ullam.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo fugiat cupiditate provident quae, nulla dignissimos soluta iusto, quos ullam eveniet perspiciatis ducimus eos praesentium nisi quis dolorem quaerat facilis sint.
        .button-section  
          .detail-iconlink
            a.link(href='#')
              img.appicon(src="./assets/images/icons/appstore.png", alt="")
            a.link(href='#')
              img.appicon(src="./assets/images/icons/playstore.png", alt="")
          
          

          .register-btn
            a.upper.btn.bannerlink.title-font(href="register.html") register