.homebanner
  section.bannerimg(style='background: url("./assets/images/uploads/banner.png") no-repeat center/cover')
    .overlay
    .container
      .row
        .col-12
          .bannertext
            .bannertitle.upper 
              a(href="index.html") www.europagamaing.com
            .bannertext-wrapper
              h2.upper.wow.bounceIn(data-wow-duration='1s', data-wow-delay='1s') Lorem ipsum dolor sit amet consectetur
              a.upper.btn.bannerlink(href="gamelisting.html") See All Game