section.enquiry.login-section
  .container
    .row
      .col-md-10.offset-md-1
        .enquiry-form-wrapper.register
          .form-title
            h5.title.defalut-font Login Account
            p Create your own account now!
          .row
            .col-md-8.offset-md-2
              .form-wrap
                form
                  
                  .form-group
                    label(for='formGroupExampleInput2') Email
                    input#formGroupExampleInput2.form-control(type='text')
                  
                  .form-group
                    label(for='formGroupExampleInput2') Password
                    input#formGroupExampleInput2.form-control(type='password')
                  .form-group.g-recaptcha(data-sitekey='6Lc3ws4ZAAAAAKRZc5gNmYZNjzrMMNB90GtLR50I')
                  .form-group.text-center.mt-5
                    button.btn.btn-primary.submitbtn.form-button.upper(type='submit') LOGIN
section.enquiry.sign-in.mt-2 
  .container
    p Already have an account? 
      a(href="register.html") Register 