section.gamelisting.promotion(style='background: url("./assets/images/icons/patternimg.png") repeat center')
  .container
    .row     
      .col-lg-12
        .promotion-cart 
          .promotion-img
            img.w-100(src="./assets/images/uploads/otherbanner.png", alt="") 
            .overlay-text
              h5 200% 
              h5.upper deposit bonus

          .promotion-desc 
            p.upper 200% deposit bonus
            a.button.upper.btn.bannerlink(href="register.html") Register
      .col-lg-12
        .promotion-cart 
          .promotion-img
            img.w-100(src="./assets/images/uploads/otherbanner.png", alt="") 
            .overlay-text
              h5 200% 
              h5.upper deposit bonus

          .promotion-desc 
            p.upper 200% deposit bonus
            a.button.upper.btn.bannerlink(href="register.html") Register
      .col-lg-12
        .promotion-cart 
          .promotion-img
            img.w-100(src="./assets/images/uploads/otherbanner.png", alt="") 
            .overlay-text
              h5 200% 
              h5.upper deposit bonus

          .promotion-desc 
            p.upper 200% deposit bonus
            a.button.upper.btn.bannerlink(href="register.html") Register  
