section.profile-wrap
  .container
    .row
      .col-12
        h5.defalut-font.text-center Profile Information 
        .profile-info 
          ul 
            li
              .info-col
                p Name
                p.information Thet Pai 
            li
              .info-col
                p Email
                p.information xxx xxxx xxx@xxxx.com 
            li
              .info-col
                p Phone
                p.information 09953232632
            li
              .info-col
                p Registered Date
                p.information 2020-09-10 17:49:58  
