section.enquiry
  .container
    .row
      .col-md-10.offset-md-1
        .enquiry-form-wrapper.register
          .form-title
            h5.title.defalut-font Registration Now
            p Create your own account now!
          .row
            .col-md-8.offset-md-2
              .form-wrap
                form
                  .form-group
                    label(for='formGroupExampleInput') Name
                    input#formGroupExampleInput.form-control(type='text')
                  .form-group
                    label(for='formGroupExampleInput2') Email
                    input#formGroupExampleInput2.form-control(type='text')
                  .form-group
                    label(for='formGroupExampleInput2') Phone
                    input#formGroupExampleInput2.form-control(type='text')
                  .form-group
                    label(for='formGroupExampleInput2') Password
                    input#formGroupExampleInput2.form-control(type='password')
                  .form-group
                    label(for='formGroupExampleInput2') Confirm Password 
                    input#formGroupExampleInput2.form-control(type='password')
                  .form-group.g-recaptcha(data-sitekey='6Lc3ws4ZAAAAAKRZc5gNmYZNjzrMMNB90GtLR50I')
                  .form-group.text-center
                    button.btn.btn-primary.submitbtn.form-button.upper(type='submit') Submit
section.enquiry.sign-in 
  .container
    p Already have an account? 
      a(href="login.html") Sign In 