section.enquiry.withdraw
  .container
    h5.title.defalut-font.text-center New Withdrawal
    .row
      .col-md-10.offset-md-1
        .enquiry-form-wrapper
          .row
            .col-md-8.offset-md-2
              .form-wrap
                form
                  .form-group.select-game
                    label(for='formGroupExampleInput') Select a Game * 
                    select.browser-default.custom-select
                      option(selected='') Select a Game *
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                    
                  .form-group
                    label(for='formGroupExampleInput') Amount to Withdraw *
                    input#formGroupExampleInput.form-control(type='text')
                  .form-group.select-game
                    label(for='formGroupExampleInput') Bank * 
                    select.browser-default.custom-select
                      option(selected='') Bank *
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                      
                  .form-group
                    label(for='formGroupExampleInput') Name of Withdrawer
                    input#formGroupExampleInput.form-control(type='text')
                  
                  .form-group
                    label(for='formGroupExampleInput2') Phone number *
                    input#formGroupExampleInput2.form-control(type='text')
                  .form-group
                    label(for='exampleFormControlTextarea1') Note *
                    textarea#exampleFormControlTextarea1.form-control(rows='3')
                  .form-group.g-recaptcha(data-sitekey='6Lc3ws4ZAAAAAKRZc5gNmYZNjzrMMNB90GtLR50I')
                  .form-group.text-center.mt-5
                    button.btn.btn-primary.submitbtn.form-button.upper(type='submit') Submit
